include README.md
include LICENSE
include tree_sitter_talon/py.typed
include tree_sitter_talon/__init__.pyi
include tree_sitter_talon/data/tree-sitter-talon/binding.gyp
include tree_sitter_talon/data/tree-sitter-talon/bindings/node/binding.cc
include tree_sitter_talon/data/tree-sitter-talon/bindings/node/index.js
include tree_sitter_talon/data/tree-sitter-talon/bindings/rust/build.rs
include tree_sitter_talon/data/tree-sitter-talon/bindings/rust/lib.rs
include tree_sitter_talon/data/tree-sitter-talon/grammar.js
include tree_sitter_talon/data/tree-sitter-talon/package.json
include tree_sitter_talon/data/tree-sitter-talon/src/grammar.json
include tree_sitter_talon/data/tree-sitter-talon/src/node-types.json
include tree_sitter_talon/data/tree-sitter-talon/src/parser.c
include tree_sitter_talon/data/tree-sitter-talon/src/scanner.cc
include tree_sitter_talon/data/tree-sitter-talon/src/tree_sitter/parser.h
recursive-include tree_sitter_talon/data *.so
recursive-include tree_sitter_talon/data *.dylib
recursive-include tree_sitter_talon/data *.dll
