include README.md
include LICENSE
include data/tree-sitter-talon/Cargo.toml
include data/tree-sitter-talon/binding.gyp
include data/tree-sitter-talon/bindings/node/binding.cc
include data/tree-sitter-talon/bindings/node/index.js
include data/tree-sitter-talon/bindings/rust/build.rs
include data/tree-sitter-talon/bindings/rust/lib.rs
include data/tree-sitter-talon/grammar.js
include data/tree-sitter-talon/package.json
include data/tree-sitter-talon/src/grammar.json
include data/tree-sitter-talon/src/node-types.json
include data/tree-sitter-talon/src/parser.c
include data/tree-sitter-talon/src/scanner.cc
include data/tree-sitter-talon/src/tree_sitter/parser.h
