include src/tree_sitter_talon/_tree_sitter_talon/package.json
include src/tree_sitter_talon/_tree_sitter_talon/src/grammar.json
include src/tree_sitter_talon/_tree_sitter_talon/src/node-types.json
include src/tree_sitter_talon/_tree_sitter_talon/src/tree_sitter/parser.h
include src/tree_sitter_talon/_tree_sitter_talon/src/parser.c
include src/tree_sitter_talon/_tree_sitter_talon/src/scanner.cc
include src/tree_sitter_talon/internal/binding.c
include src/tree_sitter_talon/internal/binding*.so
include src/tree_sitter_talon/internal/binding*.pyd
