appdirs==1.4.4
dataclasses-json==0.5.7
tree-sitter==0.20.0
tree-sitter-type-provider==1.4.7
build==0.8.0
mypy==0.971
pytest==7.1.2
pytest-golden==0.2.2
Sphinx==5.1.1
sphinx-autodoc-typehints==1.19.1
twine==4.0.1
