name: CI

on:
  push:
    branches:
      - dev
    tags:
      - "1!*"
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  merge_group:

defaults:
  run:
    shell: sh

jobs:
  tox:
    uses: ./.github/workflows/tox.yml

  sdist:
    uses: ./.github/workflows/sdist.yml

  cibuildwheel:
    uses: ./.github/workflows/cibuildwheel.yml

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [tox, sdist, cibuildwheel]
    uses: ./.github/workflows/release.yml
